@page "/uffianuals"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CalculadoraDebitos.Models
@using CalculadoraDebitos.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CalculadoraDebitos.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="uffianuals/create">Inserir UFFI Anual</a>
</p>

<Microsoft.AspNetCore.Components.QuickGrid.QuickGrid Class="table" Items="context.UffiAnual.OrderByDescending(s => s.Ano)">
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="uffianual => uffianual.Ano" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="uffianual => uffianual.Valor /100m" Format="N2" Title="Valor" />

    <Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn Context="uffianual">
        <a href="@($"uffianuals/edit?id={uffianual.Id}")">Editar</a> |
        <a href="@($"uffianuals/details?id={uffianual.Id}")">Detalhes</a> |
        <a href="@($"uffianuals/delete?id={uffianual.Id}")">Excluir</a>
    </Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn>
</Microsoft.AspNetCore.Components.QuickGrid.QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
